body{
    background-color: #F5F5F5;
}

.navbar{
    background-color: white;
    display: flex;
    height: 70px;
    width: 1312px;
    justify-content: space-evenly;
    align-items: 
    center;
    position: fixed;
    

}
.navlogo{
    height: 70px;
    width: 200px;
    border-color: transparent;
    align-self: center;
    margin-top: 10px;
    
    
}
.searchbar{
    
    height: 40px;
    align-self: center;
    width: 500px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #F5F5F5;
    font-size: 15px;
    border-color: transparent;
    border-radius: 2px;
}
.nam{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    
      text-decoration: none;
      



    color: black;

}
select{
    background-color: white;
    border-color: transparent;
}



.holder1{
 
    background-color: white;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



.image{

    padding-top: 100px;
    width: 1312px;
}
.po{
    height: 150px;
    margin-left: 50px;
    margin-right: 50px;
}


pre{
    font-size: 20px;
    display: inline;
}

.holder2{
    background-color: white;
}
.bo{

    margin-left: 30px;
    margin-right: 30px;
    background-color: white;
}
.footer{
    background-color: black;
    color: white;
    display: flex;
    height: 300px;
    

    
}

ul{
    align-self: top;
    align-items: center;
    list-style-type: none;

}
ol{list-style-type: none;
}
.pa{
font-size: small;
align-self: last baseline;
text-align: center;

    color: darkgrey;
   justify-content:center;
   align-content: center;
   display: flex;

   
   text-align: center;
   background-color: black;
   
  
    
}
a{text-decoration: none;}
