.j{
    font-size: 14px;
}
.l{
    background-color: #29cccc;
    height: 2px;
    width: 3px;
    text-decoration: none;
}
span{
    background-color: #29cccc;
    border-radius: 20px;
    height: 10px;
    border: 10px solid #29cccc;
    text-align: center;
}
img{
    background-color: white;
    height: 10px;
   
    text-align: center;

    height: 150px;
    width: 300px;
    margin-left: 50px;
    
}
.O{
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
}
input{
    width: 700px;
    height: 40px;
    border-radius: 20px;
    margin-left: 320px;
    
    
}
.kk{
   /* border-left: 800px solid white; */
   margin-left: 530px;
   margin-right: 5px;
   
}
a:hover{
    text-decoration: underline;
}
.ii{
     color: blue;
     word-spacing: 3px;
    
}
.pl{ margin-left:400px;}
 
.kl {bottom: 0px;
    background-color: #f2f2f2;
    height: 40px;
    border-bottom: 2px solid #e0e0e0;
    padding-top: 1px;
    padding-left: 20px;

}
.ml{
    font-size: 15px;
    background-color: #f2f2f2;
    height:30px ;
    margin-top:0px;
    padding-top: 15px;
    border-bottom: 25px solid #f2f2f2;
}
body{
   font-family:Arial, Helvetica, sans-serif;}