div{
    border: 20px solid blue;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-right-color: yellow;
    animation: spin 1s linear infinite;
    margin-left: 40%;
    margin-top: 15%;

}
@keyframes spin {
        0% {
            transform: rotate(0deg); 
        }
        100% {
            transform: rotate(360deg); 
        }
    }
    body{
        background-image: url(https://static.vecteezy.com/system/resources/previews/008/311/935/non_2x/the-illustration-graphic-consists-of-abstract-background-with-a-blue-gradient-dynamic-shapes-composition-eps10-perfect-for-presentation-background-website-landing-page-wallpaper-vector.jpg);
    }
    h2{
        text-align: center;
        color: white;
    }
    body{
        font-family:Arial, Helvetica, sans-serif;
    }
    button{
        width: 30px;
        height: 80px;
        background: transparent;
        border-color: transparent;
        font-size: 50px;
    }