.title {
    text-align: center;
    padding-top: 100px;
}
body{
   font-family:Arial, Helvetica, sans-serif;
color: white;
background-color: black;
background-image: url(https://static.vecteezy.com/system/resources/previews/008/311/935/non_2x/the-illustration-graphic-consists-of-abstract-background-with-a-blue-gradient-dynamic-shapes-composition-eps10-perfect-for-presentation-background-website-landing-page-wallpaper-vector.jpg);

}
   .p{
   /* margin-left: 375px; */
   
   width: 400px;
   height: 30px;
   border-radius: 20px;
   padding-left: 20px;
   margin-left: 35%;
   left: 50%;


   }
   .o{
margin-left: 35%;

   }
   .i{
    padding-left: 152px;
   }
   .l{
    width: 400px;
    text-align: center;
   height: 45px;
   border-radius:5%;
   margin-left: 37%;
   border-radius: 9999px;
   font-size: 20px;
   }
   a{
     color: white;
   }